{% extends "base.html" %} {% block title %}<title>Signup</title>
{% endblock%}  {% block categoriesearch %}{% endblock %}
{% block navlink %}
<a href="{% url 'login_user' %}">already have an account? </a>
{% endblock %}    {% block nav2%}{% endblock %}
 {% block sidebar%}{% endblock %} {% block content%}
<div class="sign-container login-box center-box">
  <h2>Sign In</h2>
  {% if messages %} {% for message in messages %} {% if forloop.first %}
  <p style="color: red">{{ message }}</p>
  {% endif %} {% endfor %} {% endif %}
  <form action="{% url 'signup_view' %}" method="POST">
    {% csrf_token %} {{ form }}
    <button type="submit" id="signup" class="btn btn-primary" name="signup">Sign Up</button>
  </form>
</div>
{% endblock %}
